.chat-message {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: top;
    justify-content: left;
    white-space: pre-wrap;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #2c2c2c;
    min-height: 0px;
    font-size: medium;
}

.chat-message span {
    color: lightgreen;
}

.chat-message p {
    margin: 0px;
}