.chat-grid {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    height: 100vh;
}

.message-list {
    display: block;
    overflow: scroll;
}


div.chat-grid header {
    background-color: #333;
}

div.chat-grid section {
    background-color: #222;
}

div.chat-grid footer {
    background-color: #222;
}

div.chat-grid textarea {
    background-color: #333;
    font-size: large;
    resize: none;
    overflow: scroll;
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
}

textarea:focus {
    outline: none;
}

textarea::selection {
    background: #555;
    color: #def;
}
