.chat-grid {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
}

.maxsize {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.chat-grid header {
    background-color: #333;
}

div.chat-grid section {
    background-color: #222;
}

div.chat-grid footer {
    background-color: #222;
}

input[type="text"] {
    background-color: #333;
    font-size: large;
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"]::selection {
    background: #555;
    color: #def;
}
