input[type="text"] {
    background-color: #333;
    font-size: large;
    width: 50%;
    height: 50px;
    margin: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
}

#register {
    display: flex;
    flex-direction: column;
}