aside.sidebar {
    display: grid;
    grid-template-rows: 84px 0px 1fr 80px;
    background-color: #111;
}

aside.sidebar button {
    width: 100%;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

aside.sidebar #find {
    background-color: #353;
}

aside.sidebar .pad20 {
    padding: 20px;
}

aside.sidebar .pad20h {
    padding-left: 20px;
    padding-right: 20px;
}

aside.sidebar hr {
    align-self: center;     /* prevent vertical stretching */
    justify-self: stretch;  /* keep horizontal stretch */
    width: 80%;
}