[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
tracing = "0.1.43"
tracing-subscriber = "0.3.22"
dotenvy = "0.15.7"
serde = { version = "1.0.228", features = ["default"] }
serde_json = "1.0.145"
chrono = { version = "0.4.42", features = ["default"] }
tokio = { version = "1.48.0", features = ["full"] }
sqlx = { version = "0.8.6", features = ["runtime-tokio", "postgres", "chrono", "json", "macros", "migrate"] }
